

.container {
  background: url('/assets/imagens/backgrounds/fundo.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
  
  /*Estilizando o formulÃ¡rio de cadastro*/
  .q {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
  }
  
  .q-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 15%;
  }
  
  .ti {
    font-size: 5vh;
    color: #f7d287;
    font-weight: bold;
    text-shadow: 5px 5px 2px #000;
    width: 100%;
    text-align: center;
    padding: 5px 0 0 0;
  }
  
  .tex {
    width: 100%;
    color: #f7d287;
    text-shadow: 3px 3px 3px #000;  
}
  
  .texto {
    font-size: 1.6rem;
    color: #57330e;
    text-shadow: 3px 3px 3px #f7d287;
  }
  
  .b {
    background-image: url('images/placa5.png');
    background-position: center;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 10%;
    width: 60%;
    margin-top: 0;
    /* font-size: 24px; */
    font-size: 4vh;
    color: #f0d8a6;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.1s ease;
    margin-top: 1rem;
  }
  
  .b:hover {
    transform: scale(1.05);
  }
  
  .b:active {
    transform: scale(0.95);
  }

